{{template "base" .}}

{{define "title"}}{{end}}

{{define "main"}}
    {{$Directories := .Directories}}
    {{$Files := .Files}}
    {{$SearchTerms := .SearchTerms}}

    <div>
        <h1>Search</h1>
        <form action="/search" method="GET">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="q" value="{{$SearchTerms}}">
        </form>
    </div>

    <hr />

    <h1>Results for "{{$SearchTerms}}"</h1>

    {{if $Directories}}
    <h2>Directories</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Snapshot</th>
                <th scope="col">Date</th>
                <th scope="col">Path</th>
            </tr>
        </thead>
        <tbody>
            {{range $directory := $Directories}}
            <tr>
                <td><a href="/snapshot/{{$directory.Snapshot}}:/">{{slice $directory.Snapshot 0 8}}</a></td>
                <td>{{$directory.Date}}</td>
                <td>{{$directory}}</td>
                <td><a href="/snapshot/{{$directory.Snapshot}}:{{$directory.Path}}/">{{$directory.Path}}/</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

    {{if $Files}}
    <h2>Files</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Snapshot</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Path</th>
            </tr>
        </thead>
        <tbody>
            {{range $file := $Files}}
            <tr>
                <td><a href="/snapshot/{{$file.Snapshot}}:/">{{slice $file.Snapshot  0 8}}</a></td>
                <td>{{$file.Date}}</td>
                <td>{{$file.Mime}}</td>
                <td><a href="/snapshot/{{$file.Snapshot}}:{{$file.Path}}">{{$file.Path}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
{{end}}