{{template "base" .}}

{{define "title"}}{{.Snapshot.Header.IndexID}}{{end}}

{{define "main"}}
    {{$Snapshot:=.Snapshot}}
    {{$Path:=.Path}}
    {{$Scanned:=.Scanned}}
    {{$Navigation:=.Navigation}}
    {{$NavigationLinks:=.NavigationLinks}}
    {{$Directories:=.Directories}}
    {{$Files:=.Files}}
    {{$Symlinks:=.Symlinks}}
    {{$SymlinksResolve:=.SymlinksResolve}}
    {{$Others:=.Others}}

    <h1><a href="/snapshot/{{$Snapshot.Header.IndexID}}:/">{{slice $Snapshot.Header.IndexID.String  0 8}}</a></h1>
    <b>{{$Snapshot.Header.Username }}@{{$Snapshot.Header.Hostname }}</b>,
    <i>{{$Snapshot.Header.CreationTime }}</i>

    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{range $atom := $Navigation }}
            <li class="breadcrumb-item" aria-current="page"><a href="/snapshot/{{$Snapshot.Header.IndexID}}:{{index $NavigationLinks $atom}}/">{{$atom}}</a></li>
        {{end}}
    </ol>
    </nav>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Top directories</th>
            </tr>
        </thead>
        <tbody>
            {{range $directory := .Scanned}}
            <tr>
                <td><a href="/snapshot/{{$Snapshot.Header.IndexID}}:{{$directory}}/">{{$directory}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <hr />



    {{if len $Directories}}
    <h2>Directories</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Uid</th>
                <th scope="col">Gid</th>
                <th scope="col">Date</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
            {{range $fi := .Directories}}        
            <tr>
                <td><a href="/snapshot/{{$Snapshot.Header.IndexID}}:{{$Path}}/{{$fi.Name}}/">{{$fi.Name}}</a></td>
                <td>{{.Mode }}</td>
                <td>{{.Uid }}</td>
                <td>{{.Gid }}</td>
                <td>{{.ModTime }}</td>
                <td>{{.HumanSize }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

    {{if len $Files}}
    <h2>Files</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Uid</th>
                <th scope="col">Gid</th>
                <th scope="col">Date</th>
                <th scope="col">Size</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{range $fi := .Files}}            
            <tr>
                <td><a href="/snapshot/{{$Snapshot.Header.IndexID}}:{{$Path}}/{{$fi.Name}}">{{$fi.Name}}</a></td>
                <td>{{.Mode }}</td>
                <td>{{.Uid }}</td>
                <td>{{.Gid }}</td>
                <td>{{.ModTime }}</td>
                <td>{{.HumanSize }}</td>
                <td><a href="/raw/{{$Snapshot.Header.IndexID}}:{{$Path}}/{{$fi.Name}}?download=true">
                        <button type="button" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        Download
                        </button>
                    </a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

    {{if len $Symlinks}}
    <h2>Symlinks</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Uid</th>
                <th scope="col">Gid</th>
                <th scope="col">Date</th>
                <th scope="col">Origin</th>
            </tr>
        </thead>
        <tbody>
            {{range $fi := .Symlinks}}            
            <tr>
                <td>{{$fi.Name}}</td>
                <td>{{.Mode }}</td>
                <td>{{.Uid }}</td>
                <td>{{.Gid }}</td>
                <td>{{.ModTime }}</td>
                <td>{{index $SymlinksResolve $fi.Name}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}

    {{if len $Others}}
    <h2>Others</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Uid</th>
                <th scope="col">Gid</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {{range $fi := .Others}}            
            <tr>
                <td>{{$fi.Name}}</td>
                <td>{{.Mode }}</td>
                <td>{{.Uid }}</td>
                <td>{{.Gid }}</td>
                <td>{{.ModTime }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
{{end}}