{{template "base" .}}

{{define "title"}}Plakar{{end}}

{{define "main"}}
    {{$Repository := .Repository}}
    {{$Headers := .Headers}}
    {{$MajorTypes := .MajorTypes}}
    {{$MimeTypes := .MimeTypes}}
    {{$Extensions := .Extensions}}
    {{$MajorTypesPct := .MajorTypesPct}}
    {{$MimeTypesPct := .MimeTypesPct}}
    {{$ExtensionsPct := .ExtensionsPct}}

    <div>
        <h1>Search</h1>
        <form action="/search" method="GET">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="q" placeholder="search query">
            </div>
        </form>
    </div>

    {{if len $Headers }}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#snapshots" type="button" role="tab" aria-controls="home" aria-selected="true">Snapshots</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#by-kind" type="button" role="tab" aria-controls="profile" aria-selected="false">file kinds</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#by-mime" type="button" role="tab" aria-controls="profile" aria-selected="false">mime types</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#by-extension" type="button" role="tab" aria-controls="profile" aria-selected="false">file extensions</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="snapshots" role="tabpanel" aria-labelledby="home-tab">
                    <div style="height: auto;" width="100%">
                        <div class="ratio ratio-16x9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Uuid</th>
                    <th scope="col">Username</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Date</th>
                    <th scope="col">Directories</th>
                    <th scope="col">Files</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                {{range $hdr := $Headers}}
                <tr>
                    <th scope="row"><a href="/snapshot/{{$hdr.IndexID}}:/">{{slice $hdr.IndexID.String  0 8}}</a></th>
                    <td>{{$hdr.Username }}</td>
                    <td>{{$hdr.Hostname }}</td>
                    <td>{{$hdr.CreationTime }}</td>
                    <td>{{$hdr.DirectoriesCount}}</td>
                    <td>{{$hdr.FilesCount}}</td>
                    <td>{{humanizeBytes $hdr.ScanProcessedSize}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="by-kind" role="tabpanel" aria-labelledby="profile-tab">
                    <div style="height: auto;" width="100%">
                        <div class="ratio ratio-16x9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Kind</th>
                    <th scope="col">Count</th>
                    <th scope="col">Ratio</th>
                </tr>
            </thead>
            <tbody>
                {{range $name, $count := $MajorTypes}}
                <tr>
                    <th scope="row"><a href="/search?q=&kind={{$name}}">{{$name}}</a></th>
                    <td>{{$count}}</td>
                    <td>{{index $MajorTypesPct $name}}%</td>
                </tr>
                {{end}}
            </tbody>
        </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="by-mime" role="tabpanel" aria-labelledby="profile-tab">
                    <div style="height: auto;" width="100%">
                        <div class="ratio ratio-16x9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Count</th>
                    <th scope="col">Ratio</th>
                </tr>
            </thead>
            <tbody>
                {{range $name, $count := $MimeTypes}}
                <tr>
                    <th scope="row"><a href="/search?q=&mime={{$name}}">{{$name}}</a></th>
                    <td>{{$count}}</td>
                    <td>{{index $MimeTypesPct $name}}%</td>
                </tr>
                {{end}}
            </tbody>
        </table>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="by-extension" role="tabpanel" aria-labelledby="profile-tab">
                    <div style="height: auto;" width="100%">
                        <div class="ratio ratio-16x9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Extension</th>
                    <th scope="col">Count</th>
                    <th scope="col">Ratio</th>
                </tr>
            </thead>
            <tbody>
                {{range $name, $count := $Extensions}}
                <tr>
                    <th scope="row"><a href="/search?q=&ext={{$name}}">{{$name}}</a></th>
                    <td>{{$count}}</td>
                    <td>{{index $ExtensionsPct $name}}%</td>
                </tr>
                {{end}}
            </tbody>
        </table>
                        </div>
                    </div>
                </div>
                
            </div>
    {{end}}



{{end}}