{{template "base" .}}

{{define "title"}}Plakar{{end}}

{{define "main"}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Uuid</th>
                <th scope="col">Username</th>
                <th scope="col">Hostname</th>
                <th scope="col">Date</th>
                <th scope="col">Directories</th>
                <th scope="col">Files</th>
                <th scope="col">Size</th>
                <th scope="col">Encrypted</th>
            </tr>
        </thead>
        <tbody>
            {{range .Snapshots}}
            <tr>
                <th scope="row"><a href="/snapshot/{{.Uuid}}">{{.Uuid}}</a></th>
                <td>{{.Username }}</td>
                <td>{{.Hostname }}</td>
                <td>{{.CreationTime }}</td>
                <td>{{.Directories}}</td>
                <td>{{.Files}}</td>
                <td>{{.HumanSize }}</td>
                <td>{{.Encrypted}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}