{{template "base" .}}

{{define "title"}}{{.Snapshot.Header.Uuid}}{{end}}

{{define "main"}}
    {{$Snapshot:=.Snapshot}}
    {{$Roots:=.Roots}}

    <h2>Browse</h2>
    <table class="table table-striped">
        <tbody>
            {{range $root := $Roots}}     
            <tr>
                <td><a href="/snapshot/{{$Snapshot.Header.Uuid}}:{{$root}}/">{{$root}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}